{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <title>Home</title>
</head>
<body>

<audio autoplay>
  <source src="{% static 'audio/audio.mp3' %}"type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<video autoplay muted loop id="myVideo">
  <source src="{% static 'videos/videoplayback.mp4' %}" type='video/mp4'>
  Your browser does not support HTML5 video.
</video>
    
    </div>

<div class="header1">
    <h2 align="center"style="font-family:'Segoe Script';color: black "><b>Unravel Bangladesh</b></h2>
</div>


<div class="buttons-coll">
    <button onclick="location.href='#'" class="custom-btn btn-4" style="font-size: 25px;color: silver"><span><b>Discover The Magic </b></span></button>
</div>

</body>
</html>
