{% extends 'accounts/base.html' %}
{% block body_block %}
    <style>
    .jumbotron{
        background-color: black !important;
    }
    </style>
  <div class="container">
    <div class="jumbotron">
      <h1 style="color: white">Login here :</h1>
<form method="post" action="{% url 'accounts:user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username" style="color: white">Username:</label>
          <input type="text" name="username" placeholder="Username">
<label for="password" style="color: white">Password:</label>
          <input type="password" name="password" placeholder="Password">
<input type="submit" name="" value="Login" >
</form>
</div>
  </div>

{% endblock %}