{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/log_base.css' %}">
    <title>Unravel Bangladesh</title>
</head>
<body>

<div class="header1">
    <h2 align="center"style="font-family:'Agency FB';font-size: 32px ;margin: 1px !important;"><b>Unravel Bangladesh</b></h2>
</div>
<p style="color: inherit;">h</p>
{% block main1 %}
{% endblock %}

{% block main2 %}
{% endblock %}

{% block main3 %}
{% endblock %}


</body>