{% extends 'tour/log_base.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/log_base.css' %}">

    <title>Unravel Bangladesh</title>
</head>

{% block main1 %}
<section class="container">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <div class="row m-3">
         <div class="m-auto col col-12 col-sm-12 col-md-4">
            <div class="card">
               <div class="card-header">
                  <img class="card-img-top" src="https://i.pinimg.com/originals/bf/9f/36/bf9f36aad380d6805a3a1fc25118dc14.jpg" alt="">
                  <div class="floating-title"><h1 class="mt-3">The Padma</h1><p>The mighty one</p></div>
               </div>
               <div class="card-body">
                  <h4 class="card-title">The Padma</h4>
                   <p class="card-text"><b>Best Time to Go</b> -Whole Year<br><b>Route</b>- Rajshahi -> The Padma<br><b>Type</b> - Family//Friends</p>
               </div>
               <div class="card-footer">
                  <button class="btn btn-success"style="background-color: black">R e s e r v a t i o n s</button>
               </div>
            </div>
         </div>
            </div>
         </div>
      </div>
   </section>

   
{% endblock %}


{% block main2 %}
    <section class="container">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <div class="row m-3">
         <div class="m-auto col col-12 col-sm-12 col-md-4">
            <div class="card">
               <div class="card-header">
                  <img class="card-img-top" src="https://live.staticflickr.com/2927/14153727600_903b4cd542_b.jpg" alt="">
                  <div class="floating-title"><h1 class="mt-3">Bagha Mosque</h1><p>The Ancient Architectural Masterpiece</p></div>
               </div>
               <div class="card-body">
                  <h4 class="card-title">Bagha Mosque</h4>
                  <p class="card-text"><b>Best Time to Go</b> - Whole Year<br><b>Route</b>- Rajshahi -> Bagha -> Bagha Mosque<br><b>Type</b> - Family//Friends</p>
               </div>
               <div class="card-footer">
                  <button class="btn btn-success"style="background-color: black">R e s e r v a t i o n s</button>
               </div>
            </div>
         </div>
            </div>
         </div>
      </div>
   </section>
{% endblock %}


{% block main3 %}
    <section class="container">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <div class="row m-3">
         <div class="m-auto col col-12 col-sm-12 col-md-4">
            <div class="card">
               <div class="card-header">
                  <img class="card-img-top" src="https://thetouristplace.com/wp-content/uploads/2017/05/Sylhet-Jaflong.jpg" alt="">
                  <div class="floating-title"><h1 class="mt-3">Jaflong</h1><p>Ferociously Beautiful</p></div>
               </div>
               <div class="card-body">
                  <h4 class="card-title">Jaflong</h4>
                  <p class="card-text"><b>Best Time to Go</b> - september to january<br><b>Route</b>- Sylhet -> tamabil -> Jaflong<br><b>Type</b> - Family//Friends</p>
               </div>
               <div class="card-footer">
                  <button class="btn btn-success"style="background-color: black">Buy</button>
               </div>
            </div>
         </div>
            </div>
         </div>
      </div>
   </section>
{% endblock %}
