{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/tour_base.css' %}">
    <title>Unravel Bangladesh</title>
</head>

<video autoplay muted loop id="myVideo">
 <source src="{% static 'videos/SM.mp4' %}" type='video/mp4'>
  Your browser does not support HTML5 video.
</video>

<div class="content">
  <h1>Saint Martin</h1>
  <p style="color: white">Breathtaking beauty has a new name, Saint Martin. The magnificent beauty of this place never fails to amaze anyone. Your mind & soul will surely find its peace in the soothing site of this amazing place. Route-> Dhaka -> Chittagon->teknaf->Saint Martin. Best time - Januray to april .Type - Family/Friends</p>
</div>
