.header1 {
    background-color: inherit;
    position: fixed;
     background: inherit;
    text-align: center;
    letter-spacing: 06px;
    margin: 0px;
  color: #f1f1f1;
  width: 100%;
  padding: 1px;
    background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
* {
  box-sizing: border-box;
}

body {
  margin: 0; !important;

  font-size: 15px; !important;
    background-image: url("https://pix10.agoda.net/geo/city/513022/1_513022_02.jpg?s=1920x822");
background-size: cover;
}



.container{
    margin-top: 10%; !important;
}
.card-header,.card-footer{
   background-color: white;
   border: none;
}

.card-header{
   overflow: hidden;
   position: relative;
}
.floating-title{
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   color: white;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   text-align: center;
   opacity: 0;
}
.card:hover .floating-title{
   opacity: 1;
}
.card:hover .card-img-top{
   transform: scale(1.2);
   filter: blur(2px);
}
.floating-title,.card-img-top{
   transition: all 0.5s ease-in-out;
}



.btn .btn-success{
    background-color: black; !important;
    background: black;!important;
}