* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  
    font-size: 15px;
  
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .header1{
      background-color: inherit;
      position: fixed;
       background: inherit;
      text-align: center;
      letter-spacing: 06px;
      margin: 0px;
    color: #f1f1f1;
    width: 100%;
    padding: 1px;
      background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  }


ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
ul li a{
    position: relative;
    display: block;
    padding: 10px;
    margin: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
ul li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid yellow;
    border-top: 2px solid yellow;
    transform-origin: left;
    transition: 0.5s;
    box-sizing: border-box;
}
ul li a:hover:before{
    width: 10px;
    height: 10px;
}
ul li a{
    position: relative;
    display: block;
    padding: 10px;
    margin: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
ul li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid yellow;
    border-top: 2px solid yellow;
    transform-origin: left;
    transition: 0.5s;
    box-sizing: border-box;
}
ul li a:hover:before{
    width: 10px;
    height: 10px;
    transform: rotate(360deg);
}
ul li a{
    position: relative;
    display: block;
    padding: 10px;
    margin: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
ul li a:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid yellow;
    border-right: 2px solid yellow;
    transform-origin: left;
    transition: 0.5s;
    box-sizing: border-box;
}
ul li a:hover:after{
    width: 10px;
    height: 10px;
    transform: rotate(-360deg);
    transition-delay: 0.3s
}
