{% extends 'community/base.html' %}
{% block content %}
<style>
    .card {
        box-shadow: 0 16px 48px black;
        background: lightcyan;
    }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
